.contactContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    background-color: #34363B;
    border-radius: 10px;
    padding: 10px 15px;
}

.contacInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactInfoField{
    display: flex;
    gap: 3px;   
}

.deleteContactButton{
    color: #fafafa;
    font-size: 20px;
    padding: 0 10px;
    height: 50px;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 5px;
    background: transparent;
    transition: all 450ms ease-in-out;

}

@keyframes pulse-backgorund {
    50% {
        background-color: rgb(161, 25, 25);
    }

    100%{
        background-color: transparent;
    }

    }

.deleteContactButton:hover{
    border-color: transparent;
    animation: pulse-backgorund 1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.react-confirm-alert{
    background-color: #00000056;
}